.detailContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 80vw;
    left: 12vw;
    border-radius: 8%;
}

.img {
    display: flex;
    align-items: center;
    width: 30vw;
    height: 40vh;
    border-radius: 8%;


}

.title {
    padding-left: 12vw;
    color: white;
    text-shadow: 3px 3px 3px blueviolet;


}

.textDiv {
    display: flex;
    flex-direction: column;

    color: white;
    text-shadow: 3px 3px 3px blueviolet;
    font-size: small;

}

.backgroundImage {
    background-repeat: no-repeat;
    background-image: url(../../img/backgroundDetail2.jpg);
    background-size: 100%;
    height: 100vh;


}

.detailInfo {

    color: white;
    display: flex;
    margin: 0;
    flex-direction: column;


}

.border {
    border: 5px solid blueviolet;
}

.infoContent {
    color: white;
    display: flex;
}

.imageDetail {
    margin: 15px;
}

.a {

    margin: 40px;
    border: 2 solid white;
    color: black;
    border-radius: 10%;
    text-decoration: none;

    background-color: white;




}

.aLink {
    color: black;
}

.a:hover {
    color: white;
    background-color: blueviolet;
    border: 2 solid blueviolet;
    box-shadow: 0px 0px 2px white;
    transition: 700ms;


}